     <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#featured"> Recent Work</a></li>
                        <li><a href="#projects">My Skills</a></li>
                        <li><a href="#video">Content Creator</a></li>
                        <!-- <li><a href="#blog">Blog Entries</a></li> -->
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
              
                <a href="#"> <img class="user-profile" src="assets/img/immerciless.PNG" /> SRAVEEN<em></em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Recent Work
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                           My Skills
                        </a>
                    </li>
                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                           Content Creator
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#blog">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Blog Entires
                        </a>
                    </li> -->
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/IMMERCILESS4"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Sraveen_shane"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/sraveen-kallapalli-08b73115b/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/im_merciless/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/sraveen7095"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>Front-end<br></h1>
                          <p>As a Software developer, <br>
                            I have experience in HTML5,CSS3,Angular material techniques<br>
                             working with jQuery or more advanced javascript MVC frameworks<br>
                              such as Angular</p>
                          <div class="white-button button">
                              <a href="#featured">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Back-end <br></h1>
                          <p>I've written services supporting a web applications,
                              <br> including REST APIs, e-learning applications and more.</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Know More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>New Era<br></h1>
                          <p>Looking Forward to work on<br>
                             Artificial intelligence,Machine learning <br>
                             and data science using python,Go and more.</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Learn More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                   <!-- Item -->
                   <div class="item item-4">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>Work Role<br></h1>
                          <p>Currently working for<br>
                         Monarch Infotech Solutions Pvt Ltd<br>
                        as Associate Software Engineer
                    </p>
                          <div class="white-button button">
                              <a href="#featured">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Recent<br><em>Works</em></h1>
                    <p>Most recent codes return 
                    <br>using Go.</p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_1.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/Golang-Parse-Templates.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Parse Templates</h4>
                             
                                <p>parse html templates using Go </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_2.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/Golang-File-Download.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>File download</h4>
                            
                                <p>download file from sqlserver using Go</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_3.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/golang-upload-to-sqserver.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Upload To Server</h4>
                      
                                <p>upload file to sqlserver using Go</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_1.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/Golang-retrieve-file-from-sqlserver.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Retrieve From Server</h4>
                                
                                <p>retrive files from sqlserver using Go</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_3.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/golang-crud-using-ssms-sqlserver.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Crud Using SSMS</h4>
                         
                                <p>perform crud operations using Go</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_2.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/Geolocation-using-php-and-html.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Geolocation</h4>
                              
                                <p>geolocation using html and php</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/project_3.gif" alt="">
                                <div class="featured-button button">
                                    <a href="https://github.com/sraveen7095/Golang-basic-programs.git"><i class="fa fa-github fa-2x" ></i> Source Code</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Basic Programs</h4>
                          
                                <p>basic programs using Go</p>
                            </div>
                        </div>
               
                    </div>
                </div>
            </section>
            <section id="projects" class="content-section">
               
                <div class="section-heading">
                    <h1>My<br><em>Skills</em></h1>
                    <p>Technologies and Languages   
                    <br>that i work on.</p>
                </div>
                <div class="section-content">
                    <div class="container pcontainer">
                       
                        <div class="row">
                            <div class="col-md-4" *ngFor="let n of projects">
                                <div class="skill">
                                    <h4>{{n.name}}</h4>
                                    <div class="progress">
                                        <div id="progress" class="progress-bar  bg-black " [ngStyle]="{'width.%': n.cent}" role="progressbar"  [attr.aria-valuenow]="n.cent"  aria-valuemin="0" aria-valuemax="100"></div><!-- /.progress-bar -->
                                    </div><!-- /.progress -->
                                </div><!-- /.skill -->
                              
                           </div>
                            </div>
                          
                        </div>
                        </div>
                          
            </section>
            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>This is a <em><i class="fa fa-youtube-play" style="color: red;"></i>Youtube</em> content.</h1>
                            <p>check out the sample content.</p>
                        </div>
                        <div class="text-content">
                            <p>In order to spread knowledge i create some part-time youtube content that may fullfill someones's need.</p>
                        </div>
                        <!-- <div class="accent-button button">
                            <a href="#blog">Continue Reading</a>
                        </div> -->
                    </div>
                    <div class="col-md-12">
                        <div class="box-video">
                            <div class="bg-video" >
                                <div class="bt-play">Play</div>
                            </div>
                            <div class="video-container">
                                <iframe width="100%" height="520" src="https://www.youtube.com/embed/aIUfzKVMwsY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section id="blog" class="content-section">
                <div class="section-heading">
                    <h1>Blog<br><em>Entries</em></h1>
                    <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum. 
                    <br>Phasellus luctus odio eget dui imperdiet.</p>
                </div>
                <div class="section-content">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                              <li><a href="#tab1" class="active">July 2018</a></li>
                              <li><a href="#tab2">June 2018</a></li>
                              <li><a href="#tab3">May 2018</a></li>
                              <li><a href="#tab4">April 2018</a></li>
                            </ul>
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_1.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Integer ultrices augue</h4>
                                                    <span>25 July 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_2.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Cras commodo odio ut</h4>
                                                    <span>16 July 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_3.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Sed at massa turpis</h4>
                                                    <span>10 July 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tab2">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_3.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Sed at massa turpis</h4>
                                                    <span>30 June 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_1.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Lorem ipsum dolor sit</h4>
                                                    <span>24 June 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_2.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Cras commodo odio ut</h4>
                                                    <span>12 June 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tab3">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_2.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Cras commodo odio ut</h4>
                                                    <span>26 May 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_1.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Lorem ipsum dolor sit</h4>
                                                    <span>22 May 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_3.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Integer ultrices augue</h4>
                                                    <span>8 May 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tab4">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_1.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Lorem ipsum dolor sit</h4>
                                                    <span>26 April 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>                                
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_3.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Integer ultrices augue eu</h4>
                                                    <span>24 April 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="assets/img/blog_2.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Cras commodo odio ut</h4>
                                                    <span>20 April 2018</span>
                                                    <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section> 
                        </div>
                    </div>
                </div>
            </section> -->
            <section id="contact" class="content-section">
             
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Ping<br><em>Here</em></h1>
                        <p>want to get in touch with me <br>
                        wanna talk.</p>
                        
                    </div>
                    <div class="section-content">
                        <form id="contact" [formGroup]="ContactForm" (ngSubmit)="onSubmit(ContactForm.value)">
                            <div class="row">
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="name" type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                  <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                    <div *ngIf="f.Name.errors.required">Name is required</div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                                </div>
                                 <div class="col-md-4">
                                  <fieldset>
                                    <input name="subject" type="text" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"  id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                  <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                                    <div *ngIf="f.subject.errors.required">Subject is required</div>
                                    <div *ngIf="f.subject.errors.minlength">Subjcet must be at least 6 characters</div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"  id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                  <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                    <div *ngIf="f.message.errors.required">Message is required</div>
                                    <div *ngIf="f.message.errors.minlength">Message must be at least 16 characters</div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" [disabled]="!ContactForm.valid" id="form-submit" class="btn">Send Message Now</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="footer">
                <p>Copyright &copy; 2019 Company Name 
                
                . Design: TemplateMo</p>
            </section>
        </div>